{
  presets: [
    // In web/webpack.js babel config we should remove this
    //    and use the presets for web build
    'react-native',
  ],
  plugins: [
    // Same with web/webpack.js babel config
    'transform-class-properties',
    'transform-object-rest-spread',
    'syntax-dynamic-import',
  ],
}
