# Xcode
#
**/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/ios/.xcode.env.local

# Android/IntelliJ
#
**/build/
**/.cxx/
**/.idea/
**/.kotlin/
.gradle
local.properties
*.iml
*.hprof
*.keystore
!debug.keystore

# node.js
#
**/node_modules/
**/.pnpm/
**/.pnpm-store/
**/.pnp/
.pnp.js
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/ios/Pods/
**/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
**/coverage/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.vscode/
**/dist/
next-env.d.ts
**/.next/
**/.vercel/
**/.velite/
**/out/

# local/debug output
*.local
*.sqlite
*.sqlite3
*.debug.png

# pick one between npm/yarn/pnpm
package-lock.json
yarn.lock
# pnpm-lock.yaml

# go, rust
**/.*-cache/
**/target/

###############################################################################
# others in this project

# google service keys for firebase
GoogleService-Info.plist
google-services.json
# turn server config
turnConfig.*
# intl output
.intlNewEn.json

# embed
!embed/**/package-lock.json
embed/**/brekeke_phone*
