.ripple {
  position: absolute;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  pointer-events: none;
  will-change: transform, opacity;
  transform: scale(0);
  /* should match with values in config.ts */
  animation: ripple 1000ms ease-out forwards;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(1);
  }
}
