html.theme-sunny {
  --primary-50: #fefce8;
  --primary-100: #fef9c3;
  --primary-200: #fef08a;
  --primary-300: #fde047;
  --primary-400: #facc15;
  --primary-500: #eab308;
  --primary-600: #ca8a04;
  --primary-700: #a16207;
  --primary-800: #854d0e;
  --primary-900: #713f12;
  --primary-950: #422006;
  --secondary-50: #fbfaf5;
  --secondary-100: #f6f4ec;
  --secondary-200: #ece9d9;
  --secondary-300: #d8d4c0;
  --secondary-400: #a7a28e;
  --secondary-500: #79745f;
  --secondary-600: #595444;
  --secondary-700: #433f33;
  --secondary-800: #2b2820;
  --secondary-900: #181611;
  --secondary-950: #080705;
}
